In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder,LabelEncoder,OneHotEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
import re

In [3]:
train=pd.read_csv('/content/drive/MyDrive/Hackathon/Workation Price Prediction Challenge/Train.csv')
test=pd.read_csv('/content/drive/MyDrive/Hackathon/Workation Price Prediction Challenge/Test.csv')

In [4]:
tests=test.copy()

In [5]:
train.head()

                            Uniq Id  ... Per Person Price
0  e788ab76d9d8cf1e6ed2f139645ca5d1  ...          11509.0
1  178f892630ce3e335a5a41d5d83937fd  ...          22485.5
2  f060f2954840503cc2fdaf495357b7df  ...          12421.5
3  32a19a6c171e67448f2346da46c619dc  ...          35967.0
4  107b068aa0ca03bc6248966f594d105f  ...          25584.0

[5 rows x 15 columns]

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21000 entries, 0 to 20999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Uniq Id                     21000 non-null  object
 1   Package Name                21000 non-null  object
 2   Package Type                21000 non-null  object
 3   Destination                 21000 non-null  object
 4   Itinerary                   21000 non-null  object
 5   Places Covered              21000 non-null  object
 6   Travel Date                 21000 non-null  object
 7   Hotel Details               21000 non-null  object
 8   Start City                  21000 non-null  object
 9   Airline                     21000 non-null  object
 10  Flight Stops                21000 non-null  int64
 11  Meals                       21000 non-null  int64
 12  Sightseeing Places Covered  21000 non-null  object
 13  Cancellation Rules          21000 non-null  object
 14  Per Person Price            21000 non-null  float64
dtypes: float64(1), int64(2), object(12)
memory usage: 2.4+ MB

In [7]:
train.isna().sum()

Uniq Id                       0
Package Name                  0
Package Type                  0
Destination                   0
Itinerary                     0
Places Covered                0
Travel Date                   0
Hotel Details                 0
Start City                    0
Airline                       0
Flight Stops                  0
Meals                         0
Sightseeing Places Covered    0
Cancellation Rules            0
Per Person Price              0
dtype: int64

In [8]:
train.drop(['Uniq Id','Places Covered'],axis=1,inplace=True)
test.drop(['Uniq Id','Places Covered'],axis=1,inplace=True)

In [9]:
train.head(3)

                                   Package Name  ... Per Person Price
0  Best of Shimla and Manali Holiday from Delhi  ...          11509.0
1                       Kashmir Valley vacation  ...          22485.5
2       Might of Mewar- Udaipur and Chittorgarh  ...          12421.5

[3 rows x 13 columns]

In [10]:
train['Travel Date']=pd.to_datetime(train['Travel Date'])
test['Travel Date']=pd.to_datetime(test['Travel Date'])

In [11]:
train['Travel Year']=train['Travel Date'].dt.year
train['Travel Month']=train['Travel Date'].dt.month

In [12]:
test['Travel Year']=test['Travel Date'].dt.year
test['Travel Month']=test['Travel Date'].dt.month

In [13]:
train.drop(['Travel Date'],axis=1,inplace=True)
test.drop(['Travel Date'],axis=1,inplace=True)

In [14]:
train.head(3)

                                   Package Name  ... Travel Month
0  Best of Shimla and Manali Holiday from Delhi  ...            7
1                       Kashmir Valley vacation  ...            8
2       Might of Mewar- Udaipur and Chittorgarh  ...            4

[3 rows x 14 columns]

In [15]:
train['Total Destination Covered']=train['Destination'].apply(lambda x: len(x.split('|')))
test['Total Destination Covered']=test['Destination'].apply(lambda x: len(x.split('|')))

In [16]:
train['Total Sightseeing Places Covered']=train['Sightseeing Places Covered'].apply(lambda x: len(x.split('|')) if x!='Not Available' else -1)
test['Total Sightseeing Places Covered']=test['Sightseeing Places Covered'].apply(lambda x: len(x.split('|')) if x!='Not Available' else -1)

In [17]:
print(train['Itinerary'][0])
print(train['Itinerary'][1])

1N New Delhi . 2N Shimla . 2N Manali . 1N Chandigarh
1N Srinagar . 2N Pahalgam . 1N Srinagar

In [18]:
train['Total Nights Stay']=train['Itinerary'].apply(lambda x: sum(int(i) for i in re.findall(r'[0-9]',x)))
test['Total Nights Stay']=test['Itinerary'].apply(lambda x: sum(int(i) for i in re.findall(r'[0-9]',x)))

In [19]:
print(train['Hotel Details'][1])
print(train['Hotel Details'][2])

The Orchard Retreat & Spa:4.6|WelcomHotel Pine N Peak Pahalgam - Member ITC Hotel Group:4.1|The Orchard Retreat & Spa:4.6
The Ananta:4.4|juSTa Lake Nahargarh Palace:4

In [20]:
train['Hotel Details']=train['Hotel Details'].str.replace(':','')
test['Hotel Details']=test['Hotel Details'].str.replace(':','')

In [21]:
train['Hotel Rating']=train['Hotel Details'].apply(lambda x:sum(float(i) for i in re.findall(r'[0-9]*[.][0-9]',x))/len(re.findall(r'[0-9]*[.][0-9]',x)) if len(re.findall(r'[0-9]*[.][0-9]',x)) !=0 else -1)

In [22]:
test['Hotel Rating']=test['Hotel Details'].apply(lambda x:sum(float(i) for i in re.findall(r'[0-9]*[.][0-9]',x))/len(re.findall(r'[0-9]*[.][0-9]',x)) if len(re.findall(r'[0-9]*[.][0-9]',x)) !=0 else -1)

In [23]:
train.head(3)

                                   Package Name  ... Hotel Rating
0  Best of Shimla and Manali Holiday from Delhi  ...    -1.000000
1                       Kashmir Valley vacation  ...     4.433333
2       Might of Mewar- Udaipur and Chittorgarh  ...     4.400000

[3 rows x 18 columns]

In [24]:
train['Sightseeing Places Covered in one day']=train['Total Sightseeing Places Covered']/train['Total Nights Stay']
test['Sightseeing Places Covered in one day']=test['Total Sightseeing Places Covered']/test['Total Nights Stay']

In [25]:
train['Total Destination Covered in one day']=train['Total Destination Covered']/train['Total Nights Stay']
test['Total Destination Covered in one day']=test['Total Destination Covered']/test['Total Nights Stay']

In [26]:
ordinal_columns=['Package Name','Destination','Start City','Cancellation Rules']

In [27]:
tfidf_columns=['Package Type','Itinerary','Hotel Details','Airline','Sightseeing Places Covered']

In [28]:
oe=OrdinalEncoder()
def oe_trans(df,column):
  df[column]=oe.fit_transform(df[column])
  return df

In [29]:
train=oe_trans(train,ordinal_columns)
test=oe_trans(test,ordinal_columns)

In [30]:
train.head()

   Package Name  ... Total Destination Covered in one day
0         421.0  ...                             0.666667
1        1138.0  ...                             0.750000
2        1417.0  ...                             0.666667
3         486.0  ...                             0.666667
4         196.0  ...                             0.285714

[5 rows x 20 columns]

In [31]:
def TfidfVect(column, train, test):
    vect = TfidfVectorizer()
    
    train_feature = vect.fit_transform(train[column])
    train_feature = pd.DataFrame(train_feature.todense(), columns=[(column+str(i)) for i in range(len(vect.get_feature_names()))])
    train = pd.concat([train, train_feature], axis=1)
    
    test_feature = vect.transform(test[column])
    test_feature = pd.DataFrame(test_feature.todense(), columns=[(column+str(i)) for i in range(len(vect.get_feature_names()))])
    test = pd.concat([test, test_feature], axis=1)
    
    yield train, test

In [32]:
for column in tfidf_columns:
    train, test = next(TfidfVect(column, train, test))

In [33]:
train

       Package Name  ... Sightseeing Places Covered1437
0             421.0  ...                       0.000000
1            1138.0  ...                       0.000000
2            1417.0  ...                       0.000000
3             486.0  ...                       0.000000
4             196.0  ...                       0.000000
...             ...  ...                            ...
20995        1799.0  ...                       0.000000
20996         375.0  ...                       0.000000
20997         217.0  ...                       0.000000
20998         320.0  ...                       0.124145
20999        1452.0  ...                       0.235311

[21000 rows x 3807 columns]

In [34]:
train.drop(tfidf_columns,axis=1,inplace=True)
test.drop(tfidf_columns,axis=1,inplace=True)

In [35]:
from xgboost import XGBRegressor

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
X=train.drop(['Per Person Price'],axis=1)
y=train['Per Person Price']

In [38]:
scaler=StandardScaler()
X=pd.DataFrame(scaler.fit_transform(X),columns=X.columns)
X

       Package Name  ...  Sightseeing Places Covered1437
0         -1.002439  ...                       -0.226309
1          0.125036  ...                       -0.226309
2          0.563760  ...                       -0.226309
3         -0.900227  ...                       -0.226309
4         -1.356249  ...                       -0.226309
...             ...  ...                             ...
20995      1.164451  ...                       -0.226309
20996     -1.074773  ...                       -0.226309
20997     -1.323226  ...                       -0.226309
20998     -1.161260  ...                        2.726439
20999      0.618797  ...                        5.370467

[21000 rows x 3801 columns]

In [39]:
X_train,X_test,y_train,y_test=train_test_split(X,np.log(y),test_size=0.3,random_state=42)

In [40]:
from lightgbm import LGBMRegressor

In [41]:
lgb=LGBMRegressor()
lgb.fit(X_train,y_train)

LGBMRegressor()

In [42]:
lgb.score(X_test,y_test)

0.8923212844159821

In [43]:
y_pred=lgb.predict(X_test)

In [44]:
preds=pd.DataFrame()
preds['real_price']=np.expm1(y_test)
preds['predicted_by_model']=np.expm1(y_pred)
preds

       real_price  predicted_by_model
2312      20898.5        20952.964363
16845     13768.5        16706.303065
6105      29866.0        28110.011265
18082     12628.5        13740.484687
11335     25511.0        28828.603092
...           ...                 ...
2562      26370.0        24840.104439
19682     12075.5        11705.342989
19988     15235.0        18045.537953
3198       7309.0         7638.247476
19750     36394.0        41223.788635

[6300 rows x 2 columns]

In [45]:
mse=mean_squared_error(y_pred,y_test)

In [46]:
mse

0.031869480179613684

In [47]:
test

      Package Name  ...  Sightseeing Places Covered1437
0            797.0  ...                             0.0
1           1003.0  ...                             0.0
2           1972.0  ...                             0.0
3           1359.0  ...                             0.0
4           1798.0  ...                             0.0
...            ...  ...                             ...
8995        1910.0  ...                             0.0
8996        1258.0  ...                             0.0
8997         919.0  ...                             0.0
8998         470.0  ...                             0.0
8999        1732.0  ...                             0.0

[9000 rows x 3801 columns]

In [48]:
test_pred=lgb.predict(test)

In [49]:
test_pred

array([10.62685267, 10.41013083,  9.76570054, ..., 10.48957395,
       10.25372696,  9.96096995])

In [50]:
tests['Price']=np.expm1(test_pred)

In [51]:
tests

                               Uniq Id  ...         Price
0     12c47aefbcca65d6156ba0bc7946704b  ...  41226.165125
1     156febf7d27315ae9f210ed13bca3ac2  ...  33193.212842
2     a7f43314e3ee6464a4e35b874bddf2ea  ...  17424.684977
3     d9cc4b407f3d5d290560c03d9ac71035  ...  17608.746902
4     b3bbc8aa6429feb260e9ac0a91f252c4  ...  37128.200257
...                                ...  ...           ...
8995  75171484ea20440a5c08fe040a9a01a7  ...  28723.166214
8996  16f57cebfb653f2c532314322598ca3a  ...  28967.124653
8997  477f8b3f07e1a6c027152e2cd5d67e4a  ...  35937.842430
8998  c9ce916ec5e1b93134a2f84090284bf9  ...  28387.146526
8999  63f248718bd829ec8a3d234f85637734  ...  21182.332568

[9000 rows x 15 columns]